.additional-products__product-list {
  margin: 0;
  padding: 0;
}

.product-name {
  font-family: "Oswald Regular", sans-serif;
  font-size: 16px;
}

.product-list__list-item {
  text-decoration: none;
}
