.advantages {
  width: 320px;
  height: 450px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.advantages-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.advantages-list__item {
  display: flex;
  max-width: 280px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;

}

.advantages__image {
  background: $green;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
