.functional-eating {
  font-family: Oswald Regular;
  color: $white;
}

.functional-eating__title {
  font-size: 36px;
  line-height: 36px;
  margin-top: 30px;
}

.functional-eating__motto {
  font-size: 14px;
  line-height: 14px;
  margin-top: 20px;
}
