@font-face {
  font-family: "Oswald Medium";
  src: url("../fonts/oswaldmedium.woff");
  src: url("../fonts/oswaldmedium.woff2");
}

@font-face {
  font-family: "Oswald Regular", sans-serif;
  src: url("../fonts/oswaldregular.woff");
  src: url("../fonts/oswaldregular.woff2");
}
