.more-products__title {
  font-family: $oswald-regular;
  font-size: 16px;
  line-height: 20px;
}

.more-products__text {
  font-family: $arial;
  font-size: 12px;
}

.more-products__expand-icon {
  background: url("../img/icon-plus-mobile.svg") no-repeat center;
  width: 25px;
  height: 30px;
  margin-top: 20px;
}
