@media (min-width: $tablet-width) {
  .page-header {
    flex-direction: row;
    justify-content: space-around;
    height: 100px;
    margin-top: 40px;
  }

  .page-header__logo {
    min-width: 180px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    justify-content: space-between;
    position: absolute;
    color: $white;
  }

  .page-header__logo {
    width: 245px;
    margin-left: 25px;
  }

  .page-header--static {
    position: static;
  }
}
