.page-main {
  width: 320px;
  margin: 0 auto;
}
.functional-eating {
  min-height: 480px;
  display: flex;
  flex-direction: column;
}
.functional-eating__wrapper {
  background-image: url("../img/index-background-mobile@1x.jpg");
  min-height: 305px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white;
}

.functional-eating__title {
  text-align: center;
}

.functional-eating__motto {
  text-transform: uppercase;
}

.functional-eating__banner {
  height: 305px;
  background-image: url("../img/index-can-mobile@1x.png");
  background-repeat: no-repeat;
  margin-top: -140px;
}

.functional-eating__common-button {
  align-self: center;
}
