.section-title {
  font-family: "Oswald Regular", sans-serif;
  font-size: 36px;
  line-height: 60px;
}

@media (min-width: $tablet-width) {
  .section-title--margin {
    margin-bottom: 140px;
  }
}
